*{      margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
}


.caixa-top{
        
        margin: 47px 0px 147px 73px;
        
            

}

.link-header {

        cursor: pointer; 
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.875px;
        color: #17233D;
        margin-right: 68px;
       
        

               
                
}

.caixa-imagem{
        top: 25px;
        position: relative;
        margin-left: 121px;
        margin-top: 20px;
}

.caixa-direita{

        position: absolute;
        left: 675px;
        padding: 141px;
        top: 220px;
}




h1 {
        font-weight: 700;
        font-size: 62px;
        line-height: 81px;
        letter-spacing: 0.596154px;
        color: #161A49;
}  
p {

        font-size: 18px;
        line-height: 33px;
        letter-spacing: 0.5px;
        color: #4B505A;
        margin-top: 30px;
        margin-bottom: 35px;
}

.link-no-texto{
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 1px;
        color: #6FBF44


}
button{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
        color: #FFFFFF;
        height: 43px;
        width: 100px;
        text-align: left;
        background: #6FBF44;
        border: 1px solid #4CB538;
        text-align: center;
        border-radius: 5px;


}

.texto-products{
        word-spacing: 10px;
}
/*
@:active{
        .link-header {
                color: #4B505A;
                opacity: 05;
        }
}
*/